* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #2b2c2c;
  color: #ccc;
  font-family: "Poppins", sans-serif;
}
.container {
  padding-left: 135px;
  padding-right: 135px;
}
.maxw {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* column-gap: 30px;
    row-gap: 30px;*/
  gap: 30px;
}
header {
  height: 95px;
  width: 100%;
  margin-top: 20px;
}
header > div {
  display: flex;
  justify-content: space-between;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /*1 način kako stvoriti razmak između elemenata */
  /*gap: 42px;*/
}
/*dva načina pisanja 
za isti element*/
header li a,
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.012em;
  color: #fff;
  text-decoration: none;
  /*2 način kako stvoriti razmak među elementima*/
  /*margin-right: 42px;*/
}
/*3 način kako stvoriti razmak među elementima*/
header li:not(:first-child) {
  margin-left: 42px;
}
/*.intro{
    padding-top: 140px;
    padding-bottom: 250px;
    position: relative;
}*/
.intro h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.075em;
  color: #fff;
}
.intro h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 0.012em;
  color: #ffffff;
}
span {
  color: #feb633;
}
/*Dodali marginu radi razmaka 
od h1 i button elementa*/
.intro p {
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  color: #cccccc;
  margin-top: 10px;
  margin-bottom: 45px;
}
.btn {
  border: 2px solid #feb633;
  border-radius: 4px;
  padding: 14px 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #feb633;
  background: transparent;
  width: 260px;
  height: 64px;
}
/*flexbox i position način*/
/*.my-img{
    position: absolute;
    bottom: 0;
    right: 135px;
    display: flex;
}*/
.flex {
  display: flex;
}
/*način sa gridom*/
.left {
  grid-column: span 5;
  padding-top: 140px;
  padding-bottom: 250px;
}
.my-img {
  grid-column: span 7;
  padding-top: 70px;
}
.about-me {
  background: #303131;
  padding-top: 120px;
  padding-bottom: 250px;
}
.am-title {
  grid-column: span 5;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.am-title > h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #cccccc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 67px;
  bottom: 78px;
}
.am-title > h2::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #feb633;
  position: absolute;
  left: 0;
  /* bottom: -15px;*/
  top: 60px;
}
.am-content {
  grid-column: span 7;
}
.am-content > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #9f9f9f;
}
.button-holder {
  margin-top: 45px;
  /*2 način*/
  display: flex;
  gap: 30px;
}
.custom-btn {
  width: max-content;
  height: 64px;
  background: transparent;
  border: 2px solid #feb633;
  border-radius: 4px;
  padding: 14px 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #feb633;
}
.fill {
  background: #feb633;
  color: #ffffff;
  /*1 način*/
  /*margin-right: 30px;*/
}
.services {
  padding-top: 120px;
  padding-bottom: 130px;
}
.sm-service {
  grid-column: span 12;
  text-align: center;
}
.sm-service > h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  color: #cccccc;
  position: relative;
}
.sm-service > h2::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #feb633;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.sm-service > p {
  /*max-width: 770px;*/
  max-width: 80ch;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9f9f9f;
  margin: 0 auto;
  padding-top: 35px;
  margin-bottom: 106px;
} /*ispravno je i padding-bottom: 106px ali nije
preporuka radi širenja bloka*/
.rectangle {
  grid-column: span 6;
  max-width: 570px;
  height: 315px;
  border-radius: 10px;
  background: black;
  padding: 62px 80px;
  box-sizing: border-box;
}
h3.rec-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 15px;
}
p.rec-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.blue {
  background: rgba(36, 178, 254, 0.5);
}
.yellow {
  background: rgba(254, 187, 36, 0.99);
}
.green {
  background: rgba(2, 204, 71, 0.99);
}
.purple {
  background: rgba(214, 54, 208, 0.99);
}
.contact {
  padding-top: 120px;
  padding-bottom: 130px;
}
.section-title {
  grid-column: span 12;
  text-align: center;
}
.section-title__h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  color: #cccccc;
  position: relative;
  margin-bottom: 40px;
}
.section-title__h2::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #feb633;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.contact-info {
  grid-column: span 4;
}
.contact-info__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #cccccc;
}
.contact-info__personal {
  margin: 35px 0;
}
.contact-info__personal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #727b86;
}
.contact-form {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 30px;
  /*grid-auto-rows: min-content;*/
}

.full {
  grid-column: span 8;
  /* height: max-content;*/
}
.half {
  grid-column: span 4;
  /* height: max-content;*/
}
.contact-form__field-input,
.contact-form__field-textarea {
  background: #363737;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  box-sizing: border-box;
  border: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #777777;
  font-family: "Poppins", sans-serif;
}
.contact-form__field-textarea {
  padding: 18px 25px;
  height: 235px;
  resize: none;
}
.contact-form__field-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.contact-form input[type="submit"] {
  width: 192px;
  height: 60px;

  background: #feb633;
  border: 2px solid #feb633;
  border-radius: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}

.contact-info__socials {
  margin: 35px 0;
}

.contact-info__socials i {
  margin-right: 15px;
  color: #9f9f9f;
}

.contact-info__socials i:hover {
  color: #feb633;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  header {
    min-width: 470px;
  }

  .left {
    grid-column: span 12;
    padding: 0;
  }

  .btn {
    width: 100%;
  }

  .my-img {
    grid-column: span 12;
    padding-top: 20px;
  }

  .my-img img {
    width: 100%;
  }

  .am-title {
    grid-column: span 12;
  }

  .am-content {
    grid-column: span 12;
  }

  .rectangle {
    grid-column: span 12;
  }

  p.rec-p {
    font-size: 14px;
    line-height: normal;
  }

  .sm-service > p {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .contact-info {
    grid-column: span 12;
  }

  .contact-form {
    grid-column: span 12;
  }

  .full {
    grid-column: span 12;
  }
  .half {
    grid-column: span 12;
  }
  .contact-form input[type="submit"] {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .button-holder {
    margin-top: 45px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .custom-btn {
    width: 100%;
  }

  .am-title {
    grid-column: span 12;
    text-align: center;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .am-title > h2 {
    position: relative;
    right: unset;
    bottom: unset;
  }
  .am-title > h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    background: #feb633;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }
}
